body, html{
	padding:0;
	margin:0;
	margin-left: 3%;
	font-size: 16px;
	font-family: 'Open Sans', 'Bitter', serif;

}
.title h1{
	color: #111;
	font-size: 3.5em;
	font-family: 'Open Sans', 'Bitter', serif;
}
.title > div {
	display: inline-block;	
	vertical-align: middle;
}
 .title img{
	margin: 2.2em 0.5em 0.2em 0;
}

#canvasOuterContainer{
	width: 50%;
	min-width: 360px;
	display: inline-block;
	float: right;
}
#canvasContainer{
	width: 350px;
	min-width: 350px;
	height: 350px;	
	display: inline-block;
	margin: 0 auto;
}


#canvasContainer >div{
	width: 171px;
	height: 171px;
	background-color: #ddd;
	display: inline-block;
}

#inputContainer{
	min-width: 20em;
	margin-right: 2em;
	display: inline-block;
}

#uploadContainer{
	min-width: 20em;
	display: inline-block;
	float: left;
}

.container {
	width: 100%;
	margin-top: 4em;
}

#canvas_4{
	    background: url(../legend.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.exampleDNA{
	letter-spacing: 0.04em;
	background-color: rgba( 255,170,0, 0.7);
	padding: 0.5em;
	font-size: 0.9em;

}
mark{
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
	background-color: rgba( 255,170,0, 0.0);

}
@media screen and (max-width: 1000px){
	#canvasOuterContainer{
	margin-top: 5em;
	float: left;

}