body, html{
	padding:0;
	margin:0;
	margin-left: 3%;
	font-size: 16px;
	font-family: 'Open Sans', 'Bitter', serif;

}
.title{
	color: #111;
	font-size: 3.5em;
	font-family: 'Open Sans', 'Bitter', serif;
}

.title img{
	margin: 0 0.5em 0.2em 0;
}

#canvasOuterContainer{
	width: 50%;
	min-width: 360px;
	display: inline-block;
	float: right;
}
#canvasContainer{
	width: 350px;
	min-width: 350px;
	height: 350px;	
	display: inline-block;
	margin: 0 auto;
}


#canvasContainer >div{
	width: 171px;
	height: 171px;
	background-color: #ddd;
	display: inline-block;
}

#inputContainer{
	min-width: 20em;
	margin-right: 2em;
	display: inline-block;
}

#uploadContainer{
	min-width: 20em;
	display: inline-block;
	float: left;
}

.container {
	width: 100%;
	margin-top: 4em;
}

@media screen and (max-width: 1000px){
	#canvasOuterContainer{
	margin-top: 5em;
	float: left;

}